html {
  /* add a scrollbar, whether page needs it or not,
     to prevent issue with page width changing
     with/out a scrollbar
  */
  overflow-y: scroll;  
}

html, body {
  font-family: helvetica;
  font-size: 16px;
}

h1, h2, h4 {
  text-align: center;
}

ul {
  padding-left: 0;
}
li {
  list-style-type: none;
  font-size: 20px;
  margin: 8px 0;
}

hr {
  height: 10px;
  background-color: lightgray;
  border: none;
}

.app_container {
  padding: 15px;
  max-width: 800px;
  margin: auto;
}

.add_input_container {
  display: inline-block;
  border: 1px solid gray;
  padding: 5px;
}

.add_input {
  font-size: 16px;
  height: 25px;
  border: none;
  border-bottom: 1px dotted gray;
}

.add_input:focus {
  outline: none;
  border-bottom: 1px dotted black;
  margin-bottom: -1px;
}

.add_button {
  margin-left: 5px;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: white;
  color: gray;
  font-size: 16px;
  padding: 5px;
  width: 80px;
}

.add_button:hover {
  border-color: black;
  color: black;
}

.add_button:active {
  border-color: black;
  background-color: black;
  color: white;
}


/* style custom checkbox */
.checkbox_container {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  user-select: none;
}


/* input type checkbox */
.input_checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* custom checkbox */
.custom_checkbox {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: lightgray;
}

.custom_checkbox:hover {
  border: 1px solid gray;
}

/* when input is checked */
.input_checkbox:checked ~ .custom_checkbox {
  background-color: yellowgreen;
}

/*  custom checkbox indicator; is hidden when note checked */
.custom_checkbox:after {
  content: '';
  position: absolute;
  display: none;
}

/* show custom checkbox when input is checked */
.input_checkbox:checked ~ .custom_checkbox:after {
  display: block;
}

/* style the custom checkbox indicator */
.custom_checkbox:after {
  left: 6px;
  top: 2px;
  width: 3px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.clearAllFiltersBtn {
  position: absolute;
  bottom: -10px;
  right: 30px;
  background-color: white;
  color: gray;
  border: 2px solid gray;
  border-radius: 5px;
  width: 95px;
  margin: 0 auto;
  font-size: 16px;
  padding: 5px;
}

.clearAllFiltersBtn:hover {
  border-color: black;
  color: black;
}

.clearAllFiltersBtn:active {
  border-color: orangered;
  background-color: orangered;
  color: white;
}

/* filter all-filter switch */
.filter_toggle_button {
  color: gray;
  background-color: white;
  border: 2px solid gray;
  border-radius: 5px;
  width: 95px;
  padding: 0;
  display: flex;
  margin: 0 auto;
}

.filter_toggle_button:hover {
  border: 2px solid black;
}

.filter_toggle_button_child {
  border: none;
  border-radius: 3px;
  font-size: 16px;
  padding: 5px;
  width: 50%;
  background-color: white;
}

.filter_toggle_button_child:hover {
  color: black;
}

.filter_toggle_button_child[value='on'] {
  background-color: yellowgreen;
  color: black;
}

/* modaling styling */
.modal_window {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.9);
  padding-top: 20vh;
}

.modal_content_container {
  position: relative;
}

.modal_h2 {
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  background-color: white;
  border: 2px solid lightgray;
  width: 285px;
  margin: 0 auto;
  padding: 5px;
}

.modal_ul_container {
  border: 10px solid lightgray;
  padding: 30px 15px;
  /* padding-top: 30px; */
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  justify-content: space-between;
  grid-gap: 10px;
  background-color: white;
}

.modal_notification {
  height: 20px;
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
  color: gray;
}

.modal_submit_btn {
  position: absolute;
  bottom: -10px;
  right: 30px;
  background-color: white;
  color: gray;
  border: 2px solid gray;
  border-radius: 5px;
  width: 95px;
  margin: 0 auto;
  font-size: 16px;
  padding: 5px;
}